{% extends "base.html" %} {% block content %} {% load static %}

<div class="content_edit">
  
    <img
      
      src="/static/img/twitterlogo.png"
      alt="white twitter logo"
    />
  
  <h2>Edit</h2>
</div>

<section class="posts_form1">
  
    <div class="logo">
      <img src="/static/img/santa-claus.png" />
    </div>

    
      <form
        action="/edit/{{post.id}}/"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <input class="name_box"
          type="text"
          name="name"
          placeholder="Your name"
          value="{{post.name}}"
          required
        />
        <textarea
          name="body"
          placeholder="What's happenning?"
          maxlength="140"
          required
        >
{{post.body}}</textarea
        >
        {% if post.image.url %}
        <div class="body_pic">
        <img class="post-border" src="{{post.image.url}}"  />
      </div>
        {% endif %}
        <div class="button">
          <input class="upload-file" type="file" value="Choose File" name="image"/>
        </div>
        <div class="btns">
          <button href="/" class="cancel" type="submit">Cancel</button>
          <button class="update" type="submit">Update</button>
        </div>
        
      </form>
    
  
  <script src=“https://code.jquery.com/jquery-3.6.0.js” integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=“anonymous”></script>
  <script src="{% static 'js/posts.js' %}"></script>

</section>
{% endblock %}